

.Item__Card{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;


}

.Item__Card--img{
    object-fit: cover;
    width: 400px;
}

.Item__Card--info{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 30px;
}

.Item__Card--button{
    border: solid 1px var(--primary);
    border-radius: 30px;
    height: 45px;
    width: 200px;
    background-color:var(--primary);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.Item__Card--button:hover{
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);

}